version: 2.1
orbs:
  node: circleci/node@5.0.1
  docker: circleci/docker@2.1.4

jobs:
  build:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Installing dependencies...
          command: npm install

  test:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Running tests...
          command: npm run test

  build-and-push:
    docker:
      - image: circleci/node:16.10
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run:
          name: Building Docker image
          command: docker build --file=./Dockerfile --tag=docker.io/xxnlxzx/assignment4.5:${CIRCLE_SHA1} . ## Build the Docker image and tag it with the CIRCLE_SHA1 environment variable
      - run:
          name: Pushing Docker image
          command: docker push docker.io/xxnlxzx/assignment4.5:${CIRCLE_SHA1} ## Build the Docker image and tag it with the CIRCLE_SHA1 environment variable

  deploy:
    docker:
      - image: circleci/node:16.10
    steps:
      - checkout
      - run:
          name: Deploying application
          command: |
            echo "Deploying version ${CIRCLE_TAG} to production..."  ## Display the version being deployed
            ./deploy.sh "${CIRCLE_TAG}"  ## Run the deployment script with the specified tag

workflows:
  version: 2
  simple_workflow:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
      - test:
          filters:
            branches:
              only:
                - main
          requires:
            - build
      - build-and-push:
          filters:
            tags:
              only: /.*/
          requires:
            - test
      - deploy:
          filters:
            tags:
              only: /.*/
          requires:
            - build-and-push
